{{ define "body" }}

<h1>inGroupsOf</h1>
{{ range $group := inGroupsOf .Data.NumberList 3 }}
  <p>Group:
  {{- range $num := $group }}
    {{- $num -}},
  {{- end }}</p>
{{ end }}

<h1>timeSince</h1>
{{- timeSince .Data.SourceTime .Data.UpdatedTime }}

<h1>timeSinceNow</h1>
{{- timeSinceNow .Data.UpdatedTime }}

{{ end }}
